* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eee;
}

img {
    max-width: 100%;
    display: block;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}


/* TOP MENU STYLING */
#top-menu {
    display: flex;
    justify-content: space-between;
}

.top-menu-logo {
    display: flex;
}

.top-menu-nav {
    width: 25%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}